@font-face {
    font-family: 'DIN-Next';
    src: url('./DIN-Next-W01/DIN-Next-W01-Bold.otf');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DIN-Next';
    src: url('./DIN-Next-W01/DIN-Next-W01-Regular.otf');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DIN-Next';
    src: url('./DIN-Next-W01/DIN-Next-W01-Black.otf');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DIN-Next';
    src: url('./DIN-Next-W01/DIN-Next-W01-Italic.otf');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'DIN-Next';
    src: url('./DIN-Next-W01/DIN-Next-W01-Light.otf');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DIN-Next';
    src: url('./DIN-Next-W01/DIN-Next-W01-Medium.otf');
    font-weight: 500;
    font-style: normal;
  }