@import '../fonts/fonts.css';

.space-file{
    margin: 0 auto;
    margin-top: 13rem;
    margin-bottom: 2rem;
    color: rgb(131, 131, 131);;
    font-family: 'DIN-Next', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: start;
    background-color: rgb(34, 34, 34, .7);
    overflow: hidden;
}

.space-file img {
    border-bottom: 3px solid rgb(156, 78, 95);
}

.container-data {
    padding: 0 2rem;
    letter-spacing: .024rem;
    text-align: justify;
    text-justify: inter-word;
}

.container-data h1 {
    color: rgb(156, 156, 156);
    letter-spacing: .2rem;
}

.container-details {
    display: flex;
    gap: 4rem;
}

.container-details span{
    color: white;
}

.container-details div{
    width: 50%;
}

.pilots-films {
    background-color: rgb(177, 176, 176, .2);
    margin: 1rem;
    border-radius: 15px;
    padding: 1rem;
    color: white;
    text-align: start;
}

.films-container{
    width: 50%;
    text-align: center;
}

.films-container h5{
    font-weight: bold;
    font-size: 1rem;
}