@import '../src/fonts/fonts.css';

.Home {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-image: url('./img/background-stars.jpeg');
  background-position: center;
  display: flex;
  flex-direction: column;
}

.NavBar {
  position: fixed;
  top: 0;
  font-family: 'DIN-Next', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.375rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: .5rem;
  background: inherit;
}

.NavBar-up {
  width: 100%;
  min-height: 6rem;
  display: flex;
  justify-content: flex-end;
  margin: 1rem auto;
  background: url('./img/sw_logo.png') no-repeat center;
  background-size: contain;
}

.login {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: auto;
  margin-right: 1em;
  position: relative;
}

.login a {
  text-decoration: none;
  color: rgb(131, 131, 131);
  margin: 0 .5rem;
}

.login a:hover {
  color: white;
}

.login p {
  color: rgb(77, 75, 75);
}


.NavBar-down {
  border: 1px solid rgb(58, 58, 58);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0;
  padding: 0;
}

.NavBar-down li {
  list-style: none;
  padding: 1rem;
  border-left: 1px solid rgb(58, 58, 58);
  border-right: 1px solid rgb(58, 58, 58);
  height: 100%;
}

.NavBar-down li a{
  text-decoration: none;
  font-weight: 500;
  color: rgb(128, 125, 125);
  height: 100%;
}

.NavBar-down li a:hover{
  text-decoration: none;
  color: white;
  height: 100%;
}